#firstPage {
    background-image: url("resources/cells.jpg");
    background-size: cover;
    background-position: center;
}

.title {
    padding-top: 10%;
}

#secondPage {
    /* background-image: url("resources/grad5.jpg");
    background-size: cover;
    background-position: center; */

    background-color: #161616;
}

#thirdPage {
    background-image: url("resources/grad5.jpg");
    background-size: cover;
    background-position: center; 
}

#main {
    opacity:0;
    transition: opacity 1s; 
}

#preview {
    transition: opacity 1s; 
}